<h1 class="text-center my-5"><span highlight>Benvenuto</span> nella HomePage!</h1>
<div class="d-flex justify-content-evenly">
    <a class="btn btn-primary" [routerLink]="['active']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Post Attivi</a>
    <a class="btn btn-primary px-4" [routerLink]="['users']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Users</a>
    <a class="btn btn-primary" [routerLink]="['inactive']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Post Inattivi</a>
</div>
